body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Major Mono Display", "Fahkwang", sans-serif;
  font-family: "Fahkwang";
}

/* Page content fits here */
/* Fixed = relative to viewport, defines the page */
.full-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

/* Overlay for border, pulse */
/* Absolute = relative to .full-container */
/* Small tint - clear on hover */
.overlay {
  position: absolute;
  top: 3%;
  left: 2%;
  width: 96%;
  height: 94%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
  border: 1px rgba(250, 250, 250, 1);
  border-style: groove ridge;
  animation: border-pulsate 5s infinite linear;
}
.overlay:hover {
  background: rgba(0, 0, 0, 0);
}
@keyframes border-pulsate {
  0% {
    border-color: rgba(250, 250, 250, 1);
  }
  25% {
    border-color: rgba(250, 250, 250, 0.5);
  }
  40% {
    border-color: rgba(250, 250, 250, 0);
  }
  50% {
    border-color: rgba(250, 250, 250, 0);
  }
  60% {
    border-color: rgba(250, 250, 250, 0);
  }
  75% {
    border-color: rgba(250, 250, 250, 0.5);
  }
  100% {
    border-color: rgba(250, 250, 250, 1);
  }
}

/* Navigation buttons */
.main-btn-div {
  width: 20%;
  border: 0 solid white;
  z-index: 10;
  opacity: 0.85;
}
.main-btn-div:hover {
  opacity: 1;
  cursor: pointer;
}

.works-btn-div {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: rotateZ(90deg);
}

.contact-btn-div {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: rotateZ(-90deg);
}

.main-btn {
  font-family: "Fahkwang";
  font-weight: 500;
  color: white;
  background-color: rgba(250, 250, 250, 0);
}
.main-btn:focus {
  background-color: white;
}
.main-btn:hover,
.main-btn:active {
  color: white;
}

#works-btn {
  width: 98%;
}
#contact-btn {
  width: 98%;
}

.no-select {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Page with space background */
.page-one {
  position: relative;
  height: 100%;
  width: 100%;
  background: black url("../images/space.jpg");
  background-size: 100%;
  animation: panning 100s infinite ease-in-out;
}
@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0 100%;
  }
  200% {
    background-position: 0 0;
  }
}

/* Works and Contact Page */
.page-two,
.page-three {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  z-index: 6;
}

.page-two {
  overflow-y: auto;
}

.page-three {
  background-color: white;
}

.main-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  width: 60%;
}

#about-me {
  opacity: 0;
  animation: displayText 3s 1s linear both;
}
@keyframes displayText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Roboto";
  font-size: 20px;
  width: 80%;
}

.card-action-div {
    padding-bottom: 0%;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #273c75;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #dcdde1;
}

@media only screen and (max-widith: 768px) {
  div.main-text {
    color: black;
    width: 90%;
  }
}
