body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Major Mono Display", "Fahkwang", sans-serif;
    font-family: "Fahkwang";
}

.page-one {
    position: relative;
    height: 100%;
    width: 100%;
    background: black url("../images/space.jpg");
    background-size: 100%;
    animation: panning 100s infinite ease-in-out;
}

@keyframes panning {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 0%;
    } 75% {
        background-position: 0 100%;
    } 200% {
        background-position: 0 0;
    }
}

.main-btn-div {
    position: fixed;
    top: 115px;
    right: -80px;
    transform: rotateZ(90deg);
    border: 0 solid white;
    z-index: 10;
} .main-btn {
    font-family: "Fahkwang";
    font-weight: 500;
    color: black;
    background-color: white;
} .main-btn:focus {
    color: black;
    background-color: white;
} .main-btn:hover, .main-btn:active {
    color: white;
    background-color: black;
} #works-btn {
    margin-right: 20px;
}

.full-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 5;
}

.page-two, .page-three {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    z-index: 5;
    transition: 0.5s ease;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Roboto";
    width: 40%;
}