body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Major Mono Display", "Fahkwang", sans-serif;
    font-family: "Fahkwang";
}

/* Page content fits here */
/* Fixed = relative to viewport, defines the page */
.full-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 5;
}

/* Overlay for border, pulse */
/* Absolute = relative to .full-container */
/* Small tint - clear on hover */
.overlay {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 96%;
    height: 94%;
    background: rgba(0,0,0,0.1);
    z-index: 5;
    border: 1px rgba(250, 250, 250, 1);
    border-style: groove ridge;
    animation: border-pulsate 5s infinite linear;
} .overlay:hover {
    background: rgba(0,0,0,0);
} @keyframes border-pulsate {
    0% { border-color: rgba(250, 250, 250, 1.0); }
    25% { border-color: rgba(250, 250, 250, 0.5); }
    40% { border-color: rgba(250, 250, 250, 0); }
    50% { border-color: rgba(250, 250, 250, 0); }
    60% { border-color: rgba(250, 250, 250, 0); }
    75% { border-color: rgba(250, 250, 250, 0.5); }
    100% { border-color: rgba(250, 250, 250, 1.0); }
}

/* Navigation buttons */
.main-btn-div {
    width: 20%;
    position: absolute;
    top: 50%;
    right: -5%;
    transform: rotateZ(90deg);
    border: 0 solid white;
    z-index: 10;
    opacity: 0.75;
} .main-btn-div:hover {
    opacity: 1;
} .main-btn {
    font-family: "Fahkwang";
    font-weight: 500;
    color: black;
    background-color: white;
} .main-btn:focus {
    color: black;
    background-color: white;
} .main-btn:hover, .main-btn:active {
    color: white;
    background-color: black;
} #works-btn {
    width: 45%;
    float: left;
} #contact-btn {
    width: 45%;
    float: right;
}

.page-one {
    position: relative;
    height: 100%;
    width: 100%;
    background: black url("../images/space.jpg");
    background-size: 100%;
    animation: panning 100s infinite ease-in-out;
} @keyframes panning {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 0%;
    } 75% {
        background-position: 0 100%;
    } 200% {
        background-position: 0 0;
    }
}

.page-two, .page-three {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    width: 40%;
}

#about-me {
    opacity: 0;
    animation: displayText 3s 1s linear both;
} @keyframes displayText {
    from {Opacity: 0;}
    to {Opacity: 1.0;}
}